@font-face {
  font-family: "Phosphor";
  src: url("/fonts/Phosphor.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ph {
  font-family: "Phosphor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph.ph-chart-bar:before {
  content: "\e150";
}

.ph.ph-circle-notch:before {
  content: "\eb44";
}

.ph.ph-cloud:before {
  content: "\e1aa";
}

.ph.ph-cloud-lightning:before {
  content: "\e1b2";
}

.ph.ph-cloud-rain:before {
  content: "\e1b4";
}

.ph.ph-cloud-sun:before {
  content: "\e540";
}

.ph.ph-cpu:before {
  content: "\e610";
}

.ph.ph-desktop:before {
  content: "\e560";
}

.ph.ph-globe:before {
  content: "\e288";
}

.ph.ph-laptop:before {
  content: "\e586";
}

.ph.ph-list:before {
  content: "\e2f0";
}

.ph.ph-map-pin:before {
  content: "\e316";
}

.ph.ph-monitor:before {
  content: "\e32e";
}

.ph.ph-moon:before {
  content: "\e330";
}

.ph.ph-palette:before {
  content: "\e6c8";
}

.ph.ph-person:before {
  content: "\e3a8";
}

.ph.ph-robot:before {
  content: "\e762";
}

.ph.ph-snowflake:before {
  content: "\e5aa";
}

.ph.ph-sun:before {
  content: "\e472";
}

.ph.ph-x:before {
  content: "\e4f6";
}

